.advantages {
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #d8cde5;
    }

    &__item {
        position: relative;

        padding: 32px 17px;

        display: flex;
        align-items: center;
        gap: 15px;

        &:last-of-type::after {
            display: none;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);

            width: 80%;
            height: 1px;

            background-color: #ebebeb;
        }
    }

    &__text-block {
    }

    &__text-block-caption {
        font-size: 16px;
        line-height: 31px;
    }
    &__text-block-text {
        font-size: 14px;
        line-height: 19px;
    }
}
