.burger {
    display: none;
    margin-left: 30px;
    align-items: center;
    gap: 10px;

    font-size: 16px;
    color: #fff;

    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;

    @media (max-width: 1440px) {
        display: flex;
    }

    &__icon {
        width: 20px;
        height: 20px;
    }
    &__icon-item {
        display: block;
        width: 100%;
        height: 2px;

        margin-bottom: 5px;

        background-color: #fff;
        border-radius: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
