.card {
    &--date {
        display: flex;
        flex-direction: row;
        gap: 10px;

        padding: 35px;

        border: 1px solid #ebebeb;

        @media (max-width: 1200px) {
            flex-direction: column;
            align-items: center;
        }

        .card__text-block {
            display: flex;
            flex-direction: column;
        }

        .card__title {
            margin-bottom: 50px;

            font-size: 14px;
            line-height: 18px;
            font-weight: 500;
        }

        .card__price {
            margin-bottom: 17px;

            font-size: 14px;
        }

        .card__btn {
            padding: 12px 17px;

            border-radius: 18px;
        }
    }

    &--latest-products {
        padding: 9px;

        border: 1px solid #ebebeb;

        @media (max-width: 576px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .card__image {
            margin-bottom: 20px;
        }

        .card__title {
            margin-bottom: 11px;

            font-size: 14px;
            line-height: 18px;
            font-weight: 500;
        }

        .card__price {
            font-size: 14px;
        }
    }

    &--sets {
        border: 0;
        @media (max-width: 576px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .card__image {
            margin-bottom: 20px;

            border: 1px solid #ebebeb;
        }

        .card__title {
            text-align: center;
            font-size: 16px;
            font-weight: 500;
        }
    }

    &--featured-products {
        padding: 25px 32px;

        display: flex;
        gap: 20px;

        border: 1px solid #ebebeb;

        @media (max-width: 992px) {
            flex-direction: column;
            align-items: center;
        }

        .card__text-block {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .card__title {
            font-size: 14px;
            font-weight: 500;
        }

        .card__price {
            font-size: 14px;
        }
    }
}

.card-product {
    position: relative;
    transition: 0.3s linear;

    &:hover {
        .card__image.default {
            opacity: 0;
        }

        .card__image.hover {
            opacity: 1;
        }

        .card__hover-controls {
            opacity: 1;
            transform: translate(0);
        }

        .card__inner {
        }

        .card__btn {
            display: block;
        }
    }
}

.card__inner {
    // margin-bottom: -50px;
}

.card__image-block {
    position: relative;
}
.card__image {
    transition: 0.3s linear;
    &.default {
        opacity: 1;
    }

    &.hover {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
}

.card__title {
    font-size: 14px;
}

.card__hover-controls {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    opacity: 0;
    transform: translate(10px);

    transition: 0.3s linear;
    .btn {
        width: 34px;
        height: 34px;
        border-radius: 50%;

        background-color: #f0f0f0;

        transition: 0.3s linear;

        &:hover {
            background-color: #8867b8;

            i {
                color: #fff;
            }
        }
    }
}

// .btn-wrapper {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     z-index: 1;

//     background-color: #fff;
// }

.card__btn {
    background-color: #8867b8;

    transition: background-color 0.3s linear;

    &:hover {
        background-color: lighten(#8867b8, 10%);
    }
}
