.form {
    &--search {
        position: relative;
        margin-right: 13px;
        margin-left: auto;
        .form__input--search {
            width: 369px;
            height: 42px;
            padding: 13px 75px 13px 17px;

            color: #fff;

            background: none;
            border-radius: 20px;
            border: 1px solid #fff;

            @media (max-width: 768px) {
                width: 200px;

                padding-right: 45px;
            }

            @media (max-width: 576px) {
                display: none;
            }
        }

        .form__btn-search {
            position: absolute;
            top: 0;
            right: 0;

            width: 68px;
            height: 42px;

            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 14px;
            color: #fff;

            border-left: 1px solid #fff;

            @media (max-width: 768px) {
                width: 40px;
            }

            @media (max-width: 576px) {
                display: none;
            }
        }
    }

    &--product-main-add-to-cart {
        .form__submit {
            padding: 10 20px;
            font-size: 14px;
            height: 38px;

            background-color: #8867b8;

            transition: 0.3s linear;

            &:hover {
                background-color: lighten(#8867b8, 10%);
            }
        }
    }

    &--review {
        .form__textarea,
        .form__input {
            background-color: #f0f0f0;
        }

        .form__submit {
            padding: 10px 20px;
            background-color: #8867b8;

            transition: 0.3s linear;

            &:hover {
                background-color: lighten(#8867b8, 10%);
            }
        }
    }
}
