.header-banner {
    position: relative;
    background-color: #f19ab7;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 40px;
    }

    &__text {
        font-size: 14px;
    }

    & .header-banner-close-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 25px;
        z-index: 1;
    }
}
