.header {
    background-color: #15232d;
    color: #fff;

    &__top {
        width: 100%;
        height: 40px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        border-bottom: 1px solid #fff;
    }

    &__bottom {
        padding: 30px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        margin-right: 72px;
    }

    &__controls {
        display: flex;
        align-items: center;
        gap: 13px;
    }

    &__controls-item {
        font-size: 18px;
    }

    &__controls-item.cart {
        position: relative;
    }

    &__controls-item.cart .cart__counter {
        position: absolute;
        bottom: -4px;
        right: -19px;

        width: 17px;
        height: 17px;

        display: flex;
        align-items: center;
        justify-content: center;

        color: #fff;
        font-size: 10px;

        background-color: #f19ab7;
        border-radius: 50%;
    }
}
