.nav {
    &--header {
        .nav-close {
            display: none;
        }
        @media (max-width: 1440px) {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 100;

            width: 250px;
            height: 100vh;

            transform: translateX(110%);

            padding: 30px 15px;

            background-color: #fff;

            color: #000;

            transition: 0.3s linear;

            &.active {
                transform: translateX(0);
            }

            .nav__list {
                flex-direction: column;
            }

            .dropdown__btn {
                color: #000;
            }

            .dropdown__content {
                color: #fff;
            }

            .nav-close {
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 1;

                display: block;
                font-size: 20px;
            }
        }

        .nav__list {
            display: flex;
            align-items: center;
            gap: 42px;
        }
    }

    &--sidebar {
        .nav__list {
            display: flex;
            flex-direction: column;
            border: 1px solid #ebebeb;
        }

        .nav__item {
            position: relative;
            padding: 18px;

            display: flex;
            align-items: center;
            gap: 10px;

            text-transform: uppercase;
            font-size: 14px;
            text-transform: uppercase;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%);

                width: 80%;
                height: 1px;
                background-color: #ebebeb;
            }

            &:first-child::after {
                display: none;
            }
            &:last-of-type::after {
                display: none;
            }

            i {
                font-size: 10px;
                color: #ebebeb;
            }

            &--caption {
                font-size: 17px;
                line-height: 25px;
                text-transform: none;
                border-bottom: 1px solid #ebebeb;

                i {
                    font-size: 20px;
                    color: #000;
                }
            }
        }
    }
}
