.shop {
    &__controls {
        display: flex;
        gap: 10px;
    }

    &__controls-btn {
        display: block;
        width: 26px;
        height: 26px;
    }

    .grid {
        background-image: url('../img/icons/shop-controls.png');
        background-position: 4px -25px;
        background-repeat: no-repeat;
    }

    .list {
        background-image: url('../img/icons/shop-controls.png');
        background-position: -25px 5px;
        background-repeat: no-repeat;
    }

    .sidebar-filters-open {
        display: none;

        @media (max-width: 992px) {
            display: block;
        }
    }

    .sort {
        width: 213px;
    }
}
