.swiper {
    &--discount {
        .swiper-slide {
            width: 100%;
        }
    }

    &--featured-products {
        .swiper-slide {
            display: flex;
            flex-direction: column;
            gap: 28px;
        }
    }

    &--test {
        max-width: 100%;
        height: 300px;
        .swiper-slide {
            background-color: #120245;
        }
    }

    &--gallery-thumbs {
        .swiper-slide {
            border: 1px solid #f7f2ed;

            transition: border-color 0.3s linear;
        }

        .swiper-slide-active {
            border-color: #65b597;
        }
    }
}

.swiper-slide {
    height: auto;
}

.swiper__btns {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    gap: 3px;
}

.swiper-button-prev,
.swiper-button-next {
    position: static !important;
    width: 28px;
    height: 28px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f0f0f0;
    border-radius: 50%;

    transition: background-color 0.3s linear;

    &:hover {
        background-color: #8867b8;
        i {
            color: #fff;
        }
    }

    &::after {
        display: none;
    }

    i {
        color: #101010;
        font-size: 12px;
    }
}

.swiper-button-next--gallery-thumbs,
.swiper-button-prev--gallery-thumbs {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #838383;
    background-color: #f0f0f0;
    border-radius: 50%;
}
.swiper-button-next--gallery-thumbs {
    right: 0;
}
.swiper-button-prev--gallery-thumbs {
    left: 0;
}

.swiper-button-disabled {
    i {
        color: #808080;
    }
}
