<div class="footer__top"></div>
<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__col footer__col--about">
                <span class="footer__col-caption">Get in touch</span>

                <address class="footer__address">
                    <p class="footer__address-text">
                        205-27, Gasan Digital 1-ro, Geumcheon -gu, Seoul, Republic of Korea, 15F
                    </p>

                    <a href="mailto:support@cleoderma.com" class="footer__address-mail">support@cleoderma.com</a>
                </address>

                <ul class="socials">
                    <li class="socials__item">
                        <a href="#" class="socials__link">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a href="#" class="socials__link">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a href="#" class="socials__link">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a href="#" class="socials__link">
                            <i class="fa-brands fa-google-plus-g"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="footer__col footer__col--account">
                <span class="footer__col-caption">Account</span>

                <ul class="footer__col-list">
                    <li class="footer__col-list-item">
                        <a href="#" class="footer__col-list-item-link">
                            <i class="fa-solid fa-arrow-right-long"></i>
                            Shopping cart
                        </a>
                    </li>
                    <li class="footer__col-list-item">
                        <a href="#" class="footer__col-list-item-link">
                            <i class="fa-solid fa-arrow-right-long"></i>
                            Wishlist
                        </a>
                    </li>
                    <li class="footer__col-list-item">
                        <a href="#" class="footer__col-list-item-link">
                            <i class="fa-solid fa-arrow-right-long"></i>
                            Account settings
                        </a>
                    </li>
                    <li class="footer__col-list-item">
                        <a href="#" class="footer__col-list-item-link">
                            <i class="fa-solid fa-arrow-right-long"></i>
                            Orders
                        </a>
                    </li>
                </ul>
            </div>

            <div class="footer__col footer__col--account">
                <span class="footer__col-caption">Information</span>

                <ul class="footer__col-list">
                    <li class="footer__col-list-item">
                        <a href="#" class="footer__col-list-item-link">
                            <i class="fa-solid fa-arrow-right-long"></i>
                            Privacy & Policy
                        </a>
                    </li>
                    <li class="footer__col-list-item">
                        <a href="#" class="footer__col-list-item-link">
                            <i class="fa-solid fa-arrow-right-long"></i>
                            Terms of condition
                        </a>
                    </li>
                    <li class="footer__col-list-item">
                        <a href="#" class="footer__col-list-item-link">
                            <i class="fa-solid fa-arrow-right-long"></i>
                            F.A.Q.
                        </a>
                    </li>
                    <li class="footer__col-list-item">
                        <a href="#" class="footer__col-list-item-link">
                            <i class="fa-solid fa-arrow-right-long"></i>
                            Order Tracking
                        </a>
                    </li>
                    <li class="footer__col-list-item">
                        <a href="#" class="footer__col-list-item-link">
                            <i class="fa-solid fa-arrow-right-long"></i>
                            Contact us
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__col footer__col--account">
                <span class="footer__col-caption">#Instagram</span>

                <div class="inst-grid">
                    <img src="https://via.placeholder.com/75x75" alt="">
                    <img src="https://via.placeholder.com/75x75" alt="">
                    <img src="https://via.placeholder.com/75x75" alt="">
                    <img src="https://via.placeholder.com/75x75" alt="">
                    <img src="https://via.placeholder.com/75x75" alt="">
                    <img src="https://via.placeholder.com/75x75" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="footer__copyright">
        <div class="container">
            <div class="footer__copyright-inner">
                <span>Copyright 2022 © Cleoderma</span>

                <img src="img/footer/payment.png" class="footer__payment" alt="">
            </div>
        </div>
    </div>

</footer>