<div class="header-banner">
    <div class="container">
        <div class="header-banner__inner">
            <p class="header-banner__text">Enjoy Free Shipping for orders more than $300!</p>
        </div>

        <button type="button" class="btn header-banner-close-btn">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
</div>
<header class="header">
    <div class="container">
        <div class="header__top">
            <p class="header__top-support">Get support: <a href="mailto:support@cleoderma.com">support@cleoderma.com</a>
            </p>
            <p class="header__top-date">07.10.2022, 07:46 PM</p>
        </div>

        <div class="header__bottom">
            <a class="logo header__logo" href="index.html">
                <img class="" src="img/logo/logo.png" alt="logotype">
            </a>

            <nav class="nav nav--header">
                <button type="button" class="btn nav-close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#" class="nav__link">Sale</a>
                    </li>
                    <li class="nav__item">
                        <div class="dropdown">
                            <button type="button" class="btn dropdown__btn">Shop <i
                                    class="fa-regular fa-chevron-down"></i></button>
                            <div class="dropdown__content">
                                <ul class="dropdown__list">
                                    <li class="dropdown__list-item">
                                        lorem
                                    </li>
                                    <li class="dropdown__list-item">
                                        lorem
                                    </li>
                                    <li class="dropdown__list-item">
                                        lorem
                                    </li>
                                    <li class="dropdown__list-item">
                                        lorem
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Contact Us</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">FAQs</a>
                    </li>
                </ul>
            </nav>

            <form action="/" class="form form--search">
                <input type="search" class="form__input form__input--search" placeholder="Search Here...">
                <button type="submit" class="btn form__btn-search"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>

            <div class="header__controls">
                <a href="#" class="header__controls-item">
                    <i class="fa-regular fa-user"></i>
                </a>
                <a href="#" class="header__controls-item">
                    <i class="fa-regular fa-repeat"></i>
                </a>
                <a href="#" class="header__controls-item">
                    <i class="fa-regular fa-heart"></i>
                </a>
                <a href="#" class="header__controls-item cart">
                    <i class="fa-regular fa-cart-shopping"></i>

                    <span class="cart__counter">2</span>
                </a>
            </div>

            <!-- burger -->
            <button type="button" class="burger">
                <span>Menu</span>
                <span class="burger__icon">
                    <span class="burger__icon-item"></span>
                    <span class="burger__icon-item"></span>
                    <span class="burger__icon-item"></span>
                </span>
            </button>
        </div>
    </div>
</header>