<aside class="sidebar">
    <div class="sidebar__banner sidebar__banner--1">

    </div>

    <nav class="nav--sidebar sidebar__nav">
        <ul class="nav__list">
            <li class="nav__item nav__item--caption">
                <i class="fa-solid fa-bars"></i>
                All Categories
            </li>
            <li class="nav__item">
                <i class="fa-solid fa-arrow-right-long"></i>
                CE CERTIFIED
            </li>
            <li class="nav__item">
                <i class="fa-solid fa-arrow-right-long"></i>
                MESOTHERAPY
            </li>
            <li class="nav__item">
                <i class="fa-solid fa-arrow-right-long"></i>
                BIOREVITALIZATION
            </li>
            <li class="nav__item">
                <i class="fa-solid fa-arrow-right-long"></i>
                BTX
            </li>
            <li class="nav__item">
                <i class="fa-solid fa-arrow-right-long"></i>
                COSMETICS
            </li>
            <li class="nav__item">
                <i class="fa-solid fa-arrow-right-long"></i>
                DERMA FILLER
            </li>
            <li class="nav__item">
                <i class="fa-solid fa-arrow-right-long"></i>
                NUMBING CREAM
            </li>
            <li class="nav__item">
                <i class="fa-solid fa-arrow-right-long"></i>
                FAT DISSOLVING
            </li>
            <li class="nav__item">
                <i class="fa-solid fa-arrow-right-long"></i>
                HAIR & SCALP TREATMENT
            </li>
        </ul>
    </nav>

    <div class="advantages sidebar__advantages">
        <ul class="advantages__list">
            <li class="advantages__item">
                <span class="advantages__icon">
                    <img src="img/icons/advantages/cart.jpg" alt="">
                </span>

                <div class="advantages__text-block">
                    <p class="advantages__text-block-caption">Fast Delivery</p>
                    <p class="advantages__text-block-text">Fast Delivery Service</p>
                </div>
            </li>
            <li class="advantages__item">
                <span class="advantages__icon">
                    <img src="img/icons/advantages/headphones.jpg" alt="">
                </span>

                <div class="advantages__text-block">
                    <p class="advantages__text-block-caption">1:1 Support</p>
                    <p class="advantages__text-block-text">Need help? Contact us</p>
                </div>
            </li>
            <li class="advantages__item">
                <span class="advantages__icon">
                    <img src="img/icons/advantages/earth.jpg" alt="">
                </span>

                <div class="advantages__text-block">
                    <p class="advantages__text-block-caption">Quality Products</p>
                    <p class="advantages__text-block-text">Best quality products</p>
                </div>
            </li>
            <li class="advantages__item">
                <span class="advantages__icon">
                    <img src="img/icons/advantages/discount.jpg" alt="">
                </span>

                <div class="advantages__text-block">
                    <p class="advantages__text-block-caption">Up to 20% Off</p>
                    <p class="advantages__text-block-text">Get your discount!</p>
                </div>
            </li>
            <li class="advantages__item">
                <span class="advantages__icon">
                    <img src="img/icons/advantages/smile.jpg" alt="">
                </span>

                <div class="advantages__text-block">
                    <p class="advantages__text-block-caption">Happy Customer</p>
                    <p class="advantages__text-block-text">Read reviews</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="sidebar__banner sidebar__banner--2">

    </div>

    <div class="review sidebar__review">
        <span class="review__caption">
            Client Say's
        </span>

        <div class="review__body">
            <img src="img/icons/quote.jpg" class="review__icon" alt="">
            <p class="review__text">I’m very glad to work with Cleoderma! I often order from them.</p>

            <span class="review__author-name">
                Ms. Kim
            </span>
            <span class="review__author-profession">
                Cosmetologist
            </span>
        </div>
    </div>
</aside>